<div>
  <textarea name="text" id="text" cols="20" rows="10" placeholder="Paste text here" style="float:left;"></textarea>
  <button id="clean" style="margin:10px;">Clean up</button>

  <textarea name="correct" id="correct" cols="20" rows="10" placeholder="Corrected text will appear here"></textarea>
</div>