<div class="container">

  <h3>This is a simple text correct that removes extra white spaces after periods.</h3>
  <div>
    <textarea name="text" id="text" cols="20" rows="10" placeholder="Paste text here"></textarea>

    <textarea name="correct" id="correct" cols="20" rows="10" placeholder="Corrected text will appear here"></textarea>
  </div>
  <button id="clean">Clean up</button>
</div>